main {
  .intro {
    position: relative;
    width: 100%;
    height: 100vh;
    @include responsive {
    }
    .intro-copy {
      position: absolute;
      left: 20px;
      bottom: 15%;
      display: flex;
      align-items: flex-end;
      @include responsive {
        width: 100%;
        max-width: 1000px;
        left: 50%;
        transform: translateX(-50%);
      }
      .text-area {
        width: 60%;
        margin-right: 20px;
        font-size: 3rem;
        font-weight: 700;
        line-height: 0.9;
        letter-spacing: -0.4rem;
        @include responsive {
          width: fit-content;
          font-size: 8rem;
          line-height: 0.8;
          letter-spacing: -1rem;
        }
        p {
          span {
            opacity: 0;
          }
        }
      }
      .button-wrap {
        position: relative;
        width: 36px;
        height: 36px;
        opacity: 0;
        transform: translateY(-20px);
        @include responsive {
          position: absolute;
          left: 64%;
          width: 65px;
          height: 65px;
        }
        &:hover .button {
          opacity: 0;
          transform: translateY(-20px);
        }
        &:hover .arrow {
          opacity: 1;
          transform: translateY(30px);
        }
        .button {
          position: relative;
          width: 36px;
          height: 36px;
          transition: 0.3s;
          @include responsive {
            width: 65px;
            height: 65px;
          }
          &::before,
          &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            display: block;
            width: 100%;
            height: 12px;
            background-color: $red;
            @include responsive {
              height: 18px;
            }
          }
          &::after {
            transform: translateY(-50%) rotate(90deg);
          }
        }
        .arrow {
          position: absolute;
          bottom: 70%;
          opacity: 0;
          transition: 0.5s;
          cursor: pointer;
          img {
            width: 36px;
            height: 36px;
            @include responsive {
              width: 65px;
              height: 65px;
            }
          }
        }
      }
    }
    .bar {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 28px;
      background-color: $red;
      transition: 0.5s;
      transform: scaleX(0);
      &.active {
        transform: scaleX(1);
      }
    }
  }
  section {
    width: 100%;
    max-width: 1000px;
    padding: 70px 20px;
    margin: 0 auto;
    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2.5rem;
    }
    .dot {
      color: $red;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 2.5rem;
    }
    .more {
      font-size: 1rem;
      font-weight: 700;
      text-decoration: underline;
    }
  }
  .about {
    background-color: #fff;
    p {
      color: rgba(black, 0.5);
      &.active {
        color: black;
      }
      &:last-child {
        margin-bottom: 0;
      }
      strong {
        color: $red;
      }
    }
  }
  .business {
    width: 100%;
    background-color: $gray-bg;
    ul {
      width: 90%;
      margin-left: 10%;
      li {
        display: flex;
        align-items: center;
        height: 4rem;
        border-bottom: 1px solid $border;
        font-size: 1.4rem;
        .num {
          margin-right: 16px;
          font-size: 1rem;
        }
      }
    }
  }
  .news {
    background-color: #fff;
    ul {
      width: 100%;
      li {
        padding: 30px 0;
        border-bottom: 1px solid $border;
        &:last-child {
          border-bottom: none;
        }
        a {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .contact {
    background-color: #fff;
    p {
      margin-left: 10%;
    }
  }
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $black-bg;
  padding: 50px 20px;
  .inner-footer {
    @include responsive {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1920px;
      padding: 30px 100px;
    }
    * {
      color: $border;
    }
    .go-top {
      position: absolute;
      right: 5%;
      top: -2.5rem;
      transition: 0.5s;
      img {
        width: 45px;
      }
      @include responsive {
        top: -4rem;
        img {
          width: 90px;
        }
        &:hover {
          top: -6rem;
        }
      }
    }
    .info-left {
      margin-bottom: 12px;
      p {
        margin-bottom: 10px;
        font-size: 1.7rem;
        @include responsive {
          font-size: 3rem;
          font-weight: 700;
        }
      }
      address {
        margin-bottom: 8px;
        color: rgba($border, 0.7);
      }
      dl {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;
        dt {
          margin-right: 4px;
        }
        dd {
          margin-right: 8px;
        }
      }
      dl > * {
        color: rgba($border, 0.7);
      }
      .thx {
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
    .info-right {
      width: 15%;
      .family {
        margin-bottom: 10px;

        &:hover ul {
          max-height: 220px;
        }
        button {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-bottom: 4px;
          @include responsive {
            font-size: 1.5rem;
          }
        }
        ul {
          max-height: 0;
          overflow: hidden;
          transition: 0.5s;

          li {
            margin-bottom: 2px;
            text-align: right;
            cursor: pointer;
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
      .sns {
        i {
          margin-right: 10px;
          font-size: 1.7rem;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@keyframes plus-rotate {
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes plusicon-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
